

<ion-app >


	<ion-split-pane contentId="main-content">
	  <ion-menu side="end" contentId="main-content" type="overlay" swipe-gesture="false">
		
		<ion-header  mode="ios" >
			<ion-toolbar class="new-background-color">
				<ion-buttons slot="start" class="ion-padding">
					<img src="../../assets/icon/favicon.png" width="80px" height="40px" />
				</ion-buttons>
		     </ion-toolbar>
		 </ion-header>

		<ion-content  mode="ios">
		  <div class="main-list">
			<ion-list id="inbox-list">
  
		
			


			 

			  <ion-menu-toggle auto-hide="false"  >
				<ion-item lines="none"  detail="false" class="ion-text-left"  
				routerLink="/tabs/offline" routerDirection="forward" 
				 routerLinkActive="selected" [routerLinkActiveOptions]="{exact:true}" >
					<ion-label>Device</ion-label>
					<ion-icon slot="start"  name="phone-portrait-outline" ></ion-icon>
					
				</ion-item>
			  </ion-menu-toggle>
	
			
			
			
			
			
		 

			</ion-list>
		
			<!-- Close Button -->
			<ion-button fill="clear" color="dark" (click)="close()">
			  <ion-icon name="close-circle-outline"></ion-icon>
			</ion-button>
		  </div>
		</ion-content>
	  </ion-menu>
	  <ion-router-outlet id="main-content"></ion-router-outlet>
	</ion-split-pane>
  </ion-app>
  






